 <html>
 <head>
    <title>Evelocity 2021 Cart Website</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    <script src="https://unpkg.com/htmx.org@1.1.0"></script>
 </head>
 <body>
    <img src="{{ url_for('video_feed') }}">
    <img id="newImage" src="/map_image"></img>
    <h1 hx-get="{{ url_for('text_data') }}" hx-trigger="every 1s"></h1>

    <script>
	    	function reload(){
	    		document.getElementById("newImage").src = "/map_image?" + new Date().getTime();
	    		setTimeout(reload, 1000);
	    	}
	    	reload();
    </script>
 </body>
</html>